<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://www.google.com/jsapi"></script>
    <title>Document</title>
</head>
<body>
    <h1>JOK</h1>

    <div id="myPieChart">
    </div>
  

<% if (data) {console.log(data)
    
 %> 


   <script>
    
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var d=<%-JSON.stringify(data)%>
    d=Object.entries(d)
    console.log(d)
     function drawChart() {
      
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Element');
      data.addColumn('number', 'Total students');
      
      
         data.addRows(d)
     
     

      var chart = new google.visualization.ColumnChart(document.getElementById('myPieChart'));
      chart.draw(data, null);
    }
   
   </script>
   <%}%>
</body>
</html>